body{
    background: url(assets/ground2.jpg);
    background-position-y: 0px;
    background-size: cover;
    font-family: 'Red Rose', cursive;
    user-select: none;
    -webkit-user-select: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button{
    display: none;
}

.comp{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.979);
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
    left: 0;
    top: 0;
    h1{
        color: white;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 10em;
        transform: rotate(-90deg);
        animation: 3s rot cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
        .fa-sync-alt{
            position: absolute;
            z-index: -87;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            margin-top: -20px;
            font-size: 210px;
            opacity: 0.3;
        }
    }
    h2{
        color: white;
        margin: 80px;
        margin-top: -10px;
        font-size: 15px;
        font-family: monospace;
    }
}

@keyframes rot{
    0%{
        transform: rotate(-90deg);
    }
    80%,90%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.plate{
    display: flex;
    align-content: center;
    justify-content: center;
.rr{
    width: 93%;
    position: absolute;
    top: 258px;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 20px;
    overflow: hidden;
    height: 80px;

    .off{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        button{
            height: 37px;
            border: none;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-right: 10px;
            outline: none;
            &:hover{
                background-color: rgba(48, 48, 48, 0.87);
                color: white;
            }
        }
        .chase{
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            font-size: 15px;
            margin-left: 20px;
            display: none;
            span{
                font-size: 21px;
                font-weight: 600;
            }
        }
    }
    .btm{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        .rrr{
            display: none;
            margin-left: 10px;
        }
    }
    }
.over-d{
    margin-top: 10px;
    width: 95%;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 50px;
    height: 70px;
    overflow: hidden;
    transform-origin: right;
    span{
        padding: 10px;
        justify-content: center;
        align-items: center;
        margin: 5px 4px;
        width: 40px;
        height: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgba(248, 247, 247, 0.753);
        background: linear-gradient(rgb(255, 4, 4),rgb(160, 4, 4));
        border-radius: 50%;
        font-size: 30px;
        display: flex;
    }
    div{
        height: 80%;
        width: .5px;
        opacity: .8;
        border: 1px solid white;
        margin: 8px 2px;
        margin-top: 5px;
        border-radius: 300px;
        background-color: rgb(255, 255, 255);
    }
}

.run-c{
    margin-top: 10px;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.452);
    height: 150px;
    position: absolute;
    top: 88px;
    display: flex;
    align-items: center;
    border-radius: 60px;

    .run{
        width: 50%;
        border-right: 3px solid rgba(255, 255, 255, 0.712);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: 'Red Rose', cursive;
        color: rgb(37, 37, 37);
        letter-spacing: 4px;
        height: 120px;
        &::after{
            content: 'R/W';
            position: absolute;
            font-size: 16px;
            bottom: 30px;
            // letter-spacing: 1px;
        }
    }
    .over{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: 'Red Rose', cursive;
        color: rgb(37, 37, 37);
        letter-spacing: 2px;
        width: 50%;
        &::after{
            content: 'Overs';
            position: absolute;
            font-size: 19px;
            bottom: 30px;
        }
    }
}
}
.inp-plate{
    position: absolute;
    top: 350px;
    display: block;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    height: 328px;
    width: 328px;
    padding: 0px;
    background: rgba(255, 255, 255, 0);

    input[type=button]{
        width: 95px;
        height: 95px;
        font-size: 50px;
        margin: 5px;
        font-weight: 500;
        font-family: 'Red Rose', cursive;
        border: 4px solid white;
        text-shadow: 0 0 5px black;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.637);
        background: none;
        color: white;
        border-radius: 50%;
        outline: none;
        &:hover{
            background: white;
            color: rgb(48, 48, 48);
            text-shadow: none;
        }
    }
}

.popup{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    width: 400px;
    height: 640px;
    background-color: rgba(0, 0, 0, 0.993);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(10, 10, 10), 0 0 15px rgb(20, 20, 20);
    overflow: hidden;
    opacity: 0.95;

    i{
        z-index: 99;
        font-size: 25px;
        margin: 15px;
        right: 0;
        position: absolute;
        top: 0;
        color: white;
    }

    .ask{
        width: 400px;
        height: 500px;
        /* background: url("../../assets/pair.jpg") 50% 50%;
        background-size: cover; */
        background: transparent;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;

        h2{
            font-size: 30px;
            letter-spacing: 2px;
            color: rgba(255, 255, 255, 0.767);
            margin-top: 5em;
        }
        input[type=number]{
            padding: 20px;
            text-align: center;
            font-size: 35px;
            margin-top: 20px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: none;
            outline: none;
            box-shadow: 0 0 10px white, inset 0 0 10px rgba(0, 0, 0, 0.897);
            font-family: 'Red Rose';
            color: rgba(0, 0, 0, 0.829);
        }
        
        input[type=button]{
            margin-top: 50px;
            padding: 20px;
            font-size: 18px;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-family: 'Red Rose';
            border: 2px solid white;
            background: none;
            color: white;
            border-radius: 50px;
            transition: all .25s;
            outline: none;
            &:hover{
                color: black;
                background: white;
            }
        }
    }
    .extras{
        width: 400px;
        height: 500px;
        /* background: url("../../assets/pair.jpg") 50% 50%;
        background-size: cover; */
        background: transparent;
        align-items: center;
        justify-content: center;
        text-align: center;

        h2{
            font-size: 25px;
            padding: 15px;
            letter-spacing: 2px;
            color: rgba(255, 255, 255, 0.767);
            margin-top: 3em;
        }

        input{
            padding: 20px;
            border: none;
            border-radius: 50%;
            margin: 20px;
            font-size: 35px;
            border: 2px solid white;
            background: none;
            color: white;
            font-family: 'Red Rose';
            height: 90px;
            width: 90px;
            outline: none;
            transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            &:hover{
                background: white;
                color: black;
                font-weight: 600;
            }
        }
    }

    .extrass{
        width: 400px;
        height: 500px;
        /* background: url("../../assets/pair.jpg") 50% 50%;
        background-size: cover; */
        background: transparent;
        align-items: center;
        justify-content: center;
        text-align: center;

        h2{
            font-size: 25px;
            padding: 15px;
            letter-spacing: 2px;
            color: rgba(255, 255, 255, 0.767);
            margin-top: 1em;
        }

        input{
            padding: 20px;
            border: none;
            border-radius: 50%;
            margin: 20px;
            font-size: 35px;
            border: 2px solid white;
            background: none;
            color: white;
            font-family: 'Red Rose';
            height: 90px;
            width: 90px;
            outline: none;
            transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            &:hover{
                background: white;
                color: black;
                font-weight: 600;
            }
        }
    }

    .f-end,.s-end{
        width: 400px;
        height: 500px;
        background: transparent;
        align-items: center;
        justify-content: center;
        text-align: center;
        img{
            width: 300px;
            height: 200px;
            margin: 50px;
            border-radius: 50%;
            box-shadow:  0 0 50px rgba(150, 144, 144, 0.363), 0 0 30px rgba(0, 0, 0, 0.253);
        }
        h2{
            font-size: 1.8em;
            padding: 15px;
            letter-spacing: 2px;
            color: rgba(255, 255, 255, 0.767);
            margin-top: 0px;
        }
        h3{
            font-size: 1.3em;
            color: white;
            letter-spacing: 1.5px;
            margin: 50px;
            margin-top: 0px;
            span{
                font-weight: 700;
                font-size: 1.5em;
                letter-spacing: 4px;
                text-shadow: 0 0 25px rgba(255, 255, 255, 0.541);
            }
        }
        input{
            padding: 20px;
            border: none;
            border-radius: 50px;
            margin: 20px;
            font-size: 1.2em;
            border: 2px solid white;
            background: none;
            color: white;
            font-family: 'Red Rose';
            width: auto;
            height: auto;
            outline: none;
            transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            &:hover{
                background: white;
                color: black;
                font-weight: 600;
            }
        }
    }
    
  }

  .foot{
      width: 100%;
      height: 5em;
      background: rgba(184, 184, 184, 0.589);
      position: absolute;
      bottom: -60px;
      display: flex;
      left: 0px;
      h2{
          padding-left: 10px;
          font-size: 16px;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      h5{
          margin-left: 10px;
          font-weight: 500;
          font-family: Arial, Helvetica, sans-serif;
      }
      h3{
          margin: 10px;
          bottom: 0;
          position: absolute;
          width: 93%;
          left: 0;
          padding: 5px;
        background: rgba(255, 255, 255, 0.671);
          font-size: 13px;
          font-family: sans-serif;
          font-weight: 400;
      }
  }

  @media all and (max-width: 489px){
    .comp{
        display: none;
    }
    .popup{
        display: block;
    }
    .foot{
        bottom: -220px;
        h2{
            font-size: 13px;
        }
        h5{
            margin-top: 10px;
            margin-left: 50px;
        }
    }
}

@media screen and (min-height: 5.5in){
    .over-d{
        span{
            margin: 9px 2px;
            width: 25px;
            height: 25px;
        }
        div{
            margin: 8px 2px;
            margin-top: 5px;
        }
    }
    .inp-plate{
        height: 328px;
        width: 328px;
        padding: 0px;
        input[type=button]{
            width: 95px;
            height: 95px;
            margin: 5px;
        }
    }
}


@media screen and (max-width: 400px){
    .inp-plate{
        padding: 0;
    }
    .foot{
        bottom: -170px;
        h2{
            font-size: 13px;
        }
        h5{
            margin-top: 10px;
            margin-left: 50px;
        }
    }
}

  @media screen and (max-width: 350px){
      .inp-plate{
          width: 280px;
          padding: 0;
          height: 280px;
        input[type=button]{
            width: 80px;
            height: 80px;
            margin: 5px;
            font-size: 25px;
        }
        input[value=WIDE]{
            font-size: 10px;
        }
      }
      .foot{
          bottom: -80px;
          h2{
              font-size: 13px;
          }
          h5{
              margin-top: 10px;
              margin-left: 50px;
          }
      }
      .over-d{
          span{
              width: 20px;
              height: 20px;
              font-size: 15px;
          }
      }
  }